# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pdb
*.egg-info/
*.egg

# Flask
instance/
.webassets-cache

# Virtual Environment
venv/
ENV/
env/
venv.bak/
*.egg-info/
*.egg

# Environment Variables
.env

# IDE Configurations
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Logs
*.log

# Distribution / packaging
build/
dist/
*.whl

# Temporary files
*.tmp
*.temp
